doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title FT.com with CSS Grid Layout
    link(rel='stylesheet', href='main.css')
    script
      include partials/support.js
  body.Demo
    div.Demo-header
    main.Demo-container
      section.Grid.Grid--headlines
        h1.Grid-title Headlines
        each item in headlines
          include partials/story.pug
        include partials/fast-ft.pug
    footer.Demo-footer

